h1 {
  text-align: center;
  color: brown;
}

.grid-container {
  display: grid;
  background-color: beige;
  grid-template-columns: repeat(18, 3fr);
  row-gap: 4px;
  column-gap: 4px;
  border: 1px solid black;
  text-align: center;
}

img {
  display: none;
}

@media screen and (max-width: 500px) {
  .grid-container {
    background-color: green;
    display: none;
  }
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 700px) {
  .grid-container {
    background-color: red;
    display: none;
  }
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
}

.element1 {
  background-color: yellow;
  grid-column: 1;
  grid-row: 1;
}

.element2 {
  background-color: orange;
  grid-column: 18;
  grid-row: 1;
}

.element3 {
  background-color: pink;
  grid-column: 1;
  grid-row: 2;
}

.element4 {
  background-color: orchid;
  grid-column: 2;
  grid-row: 2;
}

.element5 {
  background-color: lightgreen;
  grid-column: 13;
  grid-row: 2;
}

.element6 {
  background-color: yellow;
  grid-column: 14;
  grid-row: 2;
}

.element7 {
  background-color: yellow;
  grid-column: 15;
  grid-row: 2;
}

.element8 {
  background-color: yellow;
  grid-column: 16;
  grid-row: 2;
}

.element9 {
  background-color: yellow;
  grid-column: 17;
  grid-row: 2;
}

.element10 {
  background-color: orange;
  grid-column: 18;
  grid-row: 2;
}

.element11 {
  background-color: pink;
  grid-column: 1;
  grid-row: 3;
}

.element12 {
  background-color: orchid;
  grid-column: 2;
  grid-row: 3;
}

.element13 {
  background-color: green;
  grid-column: 13;
  grid-row: 3;
}

.element14 {
  background-color: green;
  grid-column: 13;
  grid-row: 3;
}

.element14 {
  background-color: lightgreen;
  grid-column: 14;
  grid-row: 3;
}

.element15 {
  background-color: yellow;
  grid-column: 15;
  grid-row: 3;
}

.element16 {
  background-color: yellow;
  grid-column: 16;
  grid-row: 3;
}

.element17 {
  background-color: yellow;
  grid-column: 17;
  grid-row: 3;
}

.element18 {
  background-color: orange;
  grid-column: 18;
  grid-row: 3;
}

.element19 {
  background-color: pink;
  grid-column: 1;
  grid-row: 4;
}

.element20 {
  background-color: orchid;
  grid-column: 2;
  grid-row: 4;
}

.element21 {
  background-color: deepskyblue;
  grid-column: 3;
  grid-row: 4;
}

.element22 {
  background-color: deepskyblue;
  grid-column: 4;
  grid-row: 4;
}

.element23 {
  background-color: deepskyblue;
  grid-column: 5;
  grid-row: 4;
}

.element24 {
  background-color: deepskyblue;
  grid-column: 6;
  grid-row: 4;
}

.element25 {
  background-color: deepskyblue;
  grid-column: 7;
  grid-row: 4;
}

.element26 {
  background-color: deepskyblue;
  grid-column: 8;
  grid-row: 4;
}

.element27 {
  background-color: deepskyblue;
  grid-column: 9;
  grid-row: 4;
}

.element28 {
  background-color: deepskyblue;
  grid-column: 10;
  grid-row: 4;
}

.element29 {
  background-color: deepskyblue;
  grid-column: 11;
  grid-row: 4;
}

.element30 {
  background-color: deepskyblue;
  grid-column: 12;
  grid-row: 4;
}

.element31 {
  background-color: green;
  grid-column: 13;
  grid-row: 4;
}

.element32 {
  background-color: lightgreen;
  grid-column: 14;
  grid-row: 4;
}

.element33 {
  background-color: lightgreen;
  grid-column: 15;
  grid-row: 4;
}

.element34 {
  background-color: yellow;
  grid-column: 16;
  grid-row: 4;
}

.element35 {
  background-color: yellow;
  grid-column: 17;
  grid-row: 4;
}

.element36 {
  background-color: orange;
  grid-column: 18;
  grid-row: 4;
}

.element37 {
  background-color: pink;
  grid-column: 1;
  grid-row: 5;
}

.element38 {
  background-color: orchid;
  grid-column: 2;
  grid-row: 5;
}

.element39 {
  background-color: deepskyblue;
  grid-column: 3;
  grid-row: 5;
}

.element40 {
  background-color: deepskyblue;
  grid-column: 4;
  grid-row: 5;
}

.element41 {
  background-color: deepskyblue;
  grid-column: 5;
  grid-row: 5;
}

.element42 {
  background-color: deepskyblue;
  grid-column: 6;
  grid-row: 5;
}

.element43 {
  background-color: deepskyblue;
  grid-column: 7;
  grid-row: 5;
}

.element44 {
  background-color: deepskyblue;
  grid-column: 8;
  grid-row: 5;
}

.element45 {
  background-color: deepskyblue;
  grid-column: 9;
  grid-row: 5;
}

.element46 {
  background-color: deepskyblue;
  grid-column: 10;
  grid-row: 5;
}

.element47 {
  background-color: deepskyblue;
  grid-column: 11;
  grid-row: 5;
}

.element48 {
  background-color: deepskyblue;
  grid-column: 12;
  grid-row: 5;
}

.element49 {
  background-color: green;
  grid-column: 13;
  grid-row: 5;
}

.element50 {
  background-color: green;
  grid-column: 14;
  grid-row: 5;
}

.element51 {
  background-color: lightgreen;
  grid-column: 15;
  grid-row: 5;
}

.element52 {
  background-color: lightgreen;
  grid-column: 16;
  grid-row: 5;
}

.element53 {
  background-color: yellow;
  grid-column: 17;
  grid-row: 5;
}

.element54 {
  background-color: orange;
  grid-column: 18;
  grid-row: 5;
}

.element55 {
  background-color: pink;
  grid-column: 1;
  grid-row: 6;
}

.element56 {
  background-color: orchid;
  grid-column: 2;
  grid-row: 6;
}

.element72 {
  background-color: deepskyblue;
  grid-column: 4;
  grid-row: 6;
}

.element73 {
  background-color: deepskyblue;
  grid-column: 5;
  grid-row: 6;
}

.element74 {
  background-color: deepskyblue;
  grid-column: 6;
  grid-row: 6;
}

.element75 {
  background-color: deepskyblue;
  grid-column: 7;
  grid-row: 6;
}

.element76 {
  background-color: deepskyblue;
  grid-column: 8;
  grid-row: 6;
}

.element77 {
  background-color: deepskyblue;
  grid-column: 9;
  grid-row: 6;
}

.element78 {
  background-color: deepskyblue;
  grid-column: 10;
  grid-row: 6;
}

.element79 {
  background-color: deepskyblue;
  grid-column: 11;
  grid-row: 6;
}

.element80 {
  background-color: deepskyblue;
  grid-column: 12;
  grid-row: 6;
}

.element81 {
  background-color: green;
  grid-column: 13;
  grid-row: 6;
}

.element82 {
  background-color: green;
  grid-column: 14;
  grid-row: 6;
}

.element83 {
  background-color: green;
  grid-column: 15;
  grid-row: 6;
}

.element84 {
  background-color: lightgreen;
  grid-column: 16;
  grid-row: 6;
}

.element85 {
  background-color: yellow;
  grid-column: 17;
  grid-row: 6;
}

.element86 {
  background-color: orange;
  grid-column: 18;
  grid-row: 6;
}

.element87 {
  background-color: pink;
  grid-column: 1;
  grid-row: 7;
}

.element88 {
  background-color: orchid;
  grid-column: 2;
  grid-row: 7;
}

.element104 {
  background-color: deepskyblue;
  grid-column: 4;
  grid-row: 7;
}

.element105 {
  background-color: deepskyblue;
  grid-column: 5;
  grid-row: 7;
}

.element106 {
  background-color: deepskyblue;
  grid-column: 6;
  grid-row: 7;
}

.element107 {
  background-color: deepskyblue;
  grid-column: 7;
  grid-row: 7;
}

.element108 {
  background-color: deepskyblue;
  grid-column: 8;
  grid-row: 7;
}

.element109 {
  background-color: deepskyblue;
  grid-column: 9;
  grid-row: 7;
}

.element110 {
  background-color: deepskyblue;
  grid-column: 10;
  grid-row: 7;
}

.element111 {
  background-color: deepskyblue;
  grid-column: 11;
  grid-row: 7;
}

.element112 {
  background-color: deepskyblue;
  grid-column: 12;
  grid-row: 7;
}

.element113 {
  background-color: green;
  grid-column: 13;
  grid-row: 7;
}

.element114 {
  background-color: green;
  grid-column: 14;
  grid-row: 7;
}

.element115 {
  background-color: green;
  grid-column: 15;
  grid-row: 7;
}

.element116 {
  background-color: green;
  grid-column: 16;
  grid-row: 7;
}

.element117 {
  background-color: yellow;
  grid-column: 17;
  grid-row: 7;
}

.element118 {
  background-color: orange;
  grid-column: 18;
  grid-row: 7;
}

.element57 {
  background-color: aqua;
  grid-column: 4;
  grid-row: 8;
}

.element58 {
  background-color: aqua;
  grid-column: 5;
  grid-row: 8;
}

.element59 {
  background-color: aqua;
  grid-column: 6;
  grid-row: 8;
}

.element60 {
  background-color: aqua;
  grid-column: 7;
  grid-row: 8;
}

.element61 {
  background-color: aqua;
  grid-column: 8;
  grid-row: 8;
}

.element62 {
  background-color: aqua;
  grid-column: 9;
  grid-row: 8;
}

.element63 {
  background-color: aqua;
  grid-column: 10;
  grid-row: 8;
}

.element64 {
  background-color: aqua;
  grid-column: 11;
  grid-row: 8;
}

.element65 {
  background-color: aqua;
  grid-column: 12;
  grid-row: 8;
}

.element66 {
  background-color: aqua;
  grid-column: 13;
  grid-row: 8;
}

.element67 {
  background-color: aqua;
  grid-column: 14;
  grid-row: 8;
}

.element68 {
  background-color: aqua;
  grid-column: 15;
  grid-row: 8;
}

.element69 {
  background-color: aqua;
  grid-column: 16;
  grid-row: 8;
}

.element70 {
  background-color: aqua;
  grid-column: 17;
  grid-row: 8;
}

.element71 {
  background-color: aqua;
  grid-column: 18;
  grid-row: 8;
}

.element89 {
  background-color: skyblue;
  grid-column: 4;
  grid-row: 9;
}

.element90 {
  background-color: skyblue;
  grid-column: 5;
  grid-row: 9;
}

.element91 {
  background-color: skyblue;
  grid-column: 6;
  grid-row: 9;
}

.element92 {
  background-color: skyblue;
  grid-column: 7;
  grid-row: 9;
}

.element93 {
  background-color: skyblue;
  grid-column: 8;
  grid-row: 9;
}

.element94 {
  background-color: skyblue;
  grid-column: 9;
  grid-row: 9;
}

.element95 {
  background-color: skyblue;
  grid-column: 10;
  grid-row: 9;
}

.element96 {
  background-color: skyblue;
  grid-column: 11;
  grid-row: 9;
}

.element97 {
  background-color: skyblue;
  grid-column: 12;
  grid-row: 9;
}

.element98 {
  background-color: skyblue;
  grid-column: 13;
  grid-row: 9;
}

.element99 {
  background-color: skyblue;
  grid-column: 14;
  grid-row: 9;
}

.element100 {
  background-color: skyblue;
  grid-column: 15;
  grid-row: 9;
}

.element101 {
  background-color: skyblue;
  grid-column: 16;
  grid-row: 9;
}

.element102 {
  background-color: skyblue;
  grid-column: 17;
  grid-row: 9;
}

.element103 {
  background-color: skyblue;
  grid-column: 18;
  grid-row: 9;
}
